body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    color: #ffffff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    width: 250px;
}

.card img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.card:hover {
    transform: scale(1.35);
    background-color: rgb(208, 255, 0);
    border: solid 5px #000000;
}

.card h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color: #000000;
}
